<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spark.bitrade.mapper.dao.WithdrawRecordMapper">

    <!-- 查询指定币种提币记录 -->
    <select id="queryWithdrawRecord" resultType="com.spark.bitrade.vo.ThirdAuthQueryVo" parameterType="java.lang.String">
      select c.unit symbol,r.address,r.arrived_amount,r.create_time
         from withdraw_record r LEFT JOIN coin c ON c.`name` = r.coin_id
         where r.`status` = 3 and c.unit = #{symbol} order by create_time desc
    </select>

</mapper>