<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spark.bitrade.mapper.dao.LockMarketPerformanceTotalMapper">


    <select id="findByMemberId" parameterType="java.lang.Object" resultType="com.spark.bitrade.entity.LockMarketPerformanceTotal">
        SELECT * FROM lock_market_performance_total WHERE member_id=#{memberId} and symbol=#{symbol}
    </select>

    <select id="findAllByInivite" parameterType="java.lang.Object" resultType="com.spark.bitrade.entity.LockMarketPerformanceTotal">
        SELECT * FROM lock_market_performance_total WHERE inivite_id=#{memebrId} and symbol=#{symbol}
    </select>

    <select id="findTotalByInivite" parameterType="java.lang.Object" resultType="com.spark.bitrade.vo.StoLockDepVo">
        SELECT l.inivite_id memberId, l.member_id id, lm.level position, m.email, m.mobile_phone phone, l.own_lock_amount_total amount, l.sub_department_amount_total teamAmount, lm.create_time joinTime, l.create_time
        FROM
        lock_market_performance_total l
        LEFT JOIN lock_market_level lm ON lm.member_id=l.member_id
        LEFT JOIN member m ON m.id=l.member_id
        <where>
            l.inivite_id=#{memberId}
            and lm.symbol=#{symbol}
            <if test="startTime!=null and startTime!=''">
                and l.create_time <![CDATA[ >= ]]> #{startTime}
            </if>
            <if test="endTime!=null and endTime!=''">
                and l.create_time <![CDATA[ <= ]]> #{endTime}
            </if>
        </where>
        ORDER BY lm.create_time DESC
    </select>

</mapper>