*.name
*.class
*.iml
*.lst
*.jar
.idea/
core/target/
chat/target/
admin/target/
exchange-api/target/
scheduled-job/target/
promote/guess-core/target/
silktrader-pay/target/
otc-api/target/
open-api/target/
ucenter-api/target/
mocker/target/
market/target/
exchange-vip-api/target/
exchange/target/
updating/target/
wallet/target/
vote/target/
support-shiro/target/
collect-supervisor/target/
collect-wapper/target/
cloud/target/
mongodb-wapper/target/
otc-core/target/
market-processor/target/
kafka-wapper/target/
group-unusable/exchange-order-processor/target/
group-unusable/exchange-trade-processor/target/
group-unusable/market-push/target/
group-server/cloud-eureka-server/target/
group-server/gateway-api/target/
group-server/config-server/target/
group-server/sms-server/target/
group-server/email-server/target/
group-core/pay-core/target/
group-core/partner-core/target/
group-core/promotion-core/target/
group-core/member-core/target/
group-core/stat-core/target/
group-core/account-core/target/
group-core/admin-core/target/
group-core/cms-core/target/
group-core/common-core/target/
group-core/enum-core/target/
group-core/lock-core/target/
group-core/lock-hqb-core/target/
group-core/exchange-core/target/
group-core/otc-core/target/
group-wapper/aliyun-oss-util/target/
group-wapper/base-web-core/target/
group-wapper/druid-wapper/target/
group-wapper/file-util-core/target/
group-wapper/jpa-wapper/target/
group-wapper/kafka-wapper/target/
group-wapper/mongodb-wapper/target/
group-wapper/mybatis-wapper/target/
group-wapper/redis-wapper/target/
group-wapper/session-wapper/target/
group-wapper/sms-core/target/
group-wapper/util-core/target/
promote/guess-api/target/
promote/lock-api/target/
promote/lock-hqb-api/target/
email/target/
exchange-order-processor/target/
exchange-trade-processor/target/
gateway-api/target/
market-push/target/
redis-wapper/target/
group-wapper/notify-entity/target/
wapper/aliyun-oss-util/target/
wapper/jpa-wapper/target/
wapper/kafka-wapper/target/
wapper/base-web-core/target/
group-wapper/notify-api/target/
wapper/druid-wapper/target/
exchange-core/target/
wapper/file-util-core/target/
config-server/target/
wapper/redis-wapper/target/
cloud-eureka-server/target/
wapper/mongodb-wapper/target/
wapper/util-core/target/
wapper/session-wapper/target/
wapper/sms-core/target/
wapper/mybatis-wapper/target/
group-wapper/risk-api/target/
notice-service/target/
notice-service/src/test/
/logback.path_IS_UNDEFINED/
/logback.zip.path_IS_UNDEFINED/
!/logback.path_IS_UNDEFINED/logback.appname_IS_UNDEFINED.info.log
