<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spark.bitrade.mapper.dao.MemberLoginHistoryMapper">

    <select id="findloginHistory"  resultType="com.spark.bitrade.entity.MemberLoginHistory">
        SELECT * from member_login_history m where m.member_id =  #{memberId} ORDER BY id DESC
    </select>
</mapper>