<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spark.bitrade.mapper.dao.SysNotificationChannelConfigMapper">

    <select id="selectById" resultType="com.spark.bitrade.entity.SysNotificationChannelConfig">
        SELECT * from sys_notification_channel_config where id = #{id} and usable = 1
    </select>

    <select id="findByType" resultType="com.spark.bitrade.entity.SysNotificationChannelConfig">
        SELECT * from sys_notification_channel_config where type = #{type} and usable = 1
    </select>

</mapper>
