<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spark.bitrade.mapper.dao.AdminOrderAppealSuccessAccessoryMapper">

    <select id="findByAppealId" resultType="com.spark.bitrade.entity.AdminOrderAppealSuccessAccessory" parameterType="java.lang.Long">
        select * from admin_order_appeal_success_accessory where appeal_id=#{appealId}
    </select>

</mapper>
