<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spark.bitrade.mapper.dao.PayMannerConfigMapper">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.spark.bitrade.entity.PayMannerConfig">
        <result column="id" property="id"/>
        <result column="number" property="number"/>
        <result column="name" property="name"/>
        <result column="comment" property="comment"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        id,
        number,
        name,
        comment,
        create_time,
        update_time
    </sql>

<!--auto generated Code-->
    <insert id="insert">
        INSERT INTO pay_manner_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> id, </if>
            <if test="pojo.number != null"> number, </if>
            <if test="pojo.name != null"> name, </if>
            <if test="pojo.comment != null"> comment, </if>
            <if test="pojo.createTime != null"> create_time, </if>
            <if test="pojo.updateTime != null"> update_time, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> #{pojo.id}, </if>
            <if test="pojo.number != null"> #{pojo.number}, </if>
            <if test="pojo.name != null"> #{pojo.name}, </if>
            <if test="pojo.comment != null"> #{pojo.comment}, </if>
            <if test="pojo.createTime != null"> #{pojo.createTime}, </if>
            <if test="pojo.updateTime != null"> #{pojo.updateTime}, </if>
        </trim>
    </insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO pay_manner_config(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.number},
            #{pojo.name},
            #{pojo.comment},
            #{pojo.createTime},
            #{pojo.updateTime}
            )
        </foreach>
    </insert>

<!--auto generated Code-->
    <update id="update">
        UPDATE pay_manner_config
        <set>
            <if test="pojo.id != null"> id = #{pojo.id}, </if>
            <if test="pojo.number != null"> number = #{pojo.number}, </if>
            <if test="pojo.name != null"> name = #{pojo.name}, </if>
            <if test="pojo.comment != null"> comment = #{pojo.comment}, </if>
            <if test="pojo.createTime != null"> create_time = #{pojo.createTime}, </if>
        </set>
         WHERE id = #{pojo.id}
    </update>

<!--auto generated Code-->
    <select id="select" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM pay_manner_config
        <where>
            <if test="pojo.id != null"> AND id = #{pojo.id} </if>
            <if test="pojo.number != null"> AND number = #{pojo.number} </if>
            <if test="pojo.name != null"> AND name = #{pojo.name} </if>
            <if test="pojo.comment != null"> AND comment = #{pojo.comment} </if>
            <if test="pojo.createTime != null"> AND create_time = #{pojo.createTime} </if>
            <if test="pojo.updateTime != null"> AND update_time = #{pojo.updateTime} </if>
        </where>
        LIMIT 1000 
    </select>

<!--auto generated Code-->
    <delete id="delete">
        DELETE FROM pay_manner_config where id = #{pojo.id}
    </delete>
</mapper>
