<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spark.bitrade.mapper.dao.MemberApiSecretMapper">
    <!--<resultMap id="BaseResultMap" type="com.spark.bitrade.dto.MemberApiSecretDTO" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="usable" property="usable" jdbcType="INTEGER" />
        <result column="member_id" property="memberId" javaType="BIGINT" />
        <result column="access_key" property="accessKey" jdbcType="VARCHAR" />
        <result column="secret_key" property="secretKey" jdbcType="VARCHAR" />
        <result column="expires" property="expires" jdbcType="TIMESTAMP" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>-->
    <sql id="Base_Column_List" >
        id, create_time, update_time, usable, member_id, access_key, secret_key,expires,remark
    </sql>

    <!-- 根据主键查询 -->
    <select id="selectByPrimaryKey"  resultType="com.spark.bitrade.entity.MemberApiSecretDTO" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        member_api_secret a
        WHERE
        a.id = #{id}
    </select>
    <!-- 根据访问秘钥查询 -->
    <select id="selectByAccessKey" resultType="com.spark.bitrade.entity.MemberApiSecretDTO" parameterType="java.lang.String">

        SELECT
        <include refid="Base_Column_List" />
        FROM
        member_api_secret a
        WHERE
        a.access_key = #{accessKey}
    </select>

</mapper>